.section__title {
  display: flex;
  position: relative;
  margin-bottom: 20px;
}

.section__title::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: black;
}

.section__title h2 {
  position: relative;
  padding: 10px 0;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  z-index: 10;
}

.section__title h2::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 5px solid #3ca5dd;
}