.Headline-Subtitle {
  position: absolute;
  left: 0;
  top: 30px;
  z-index: 1;
  background: #fff;
  text-transform: uppercase;
  padding: 10px;
  font-size: 12px;
  font-weight: 700;
  color: #71c4d6;
}
