.article__asset {
  position: relative;
}

.article__asset img {
  max-width: 100%;
  height: auto;
  border: 0;
  display: block;
  width: 100%;
}

a {
  color: #2a2a2a;
  outline: 0;
  text-decoration: none;
}
