.article__asset {
  position: relative;
}

.article__asset a {
  color: inherit;
  vertical-align: baseline;
  outline: 0;
}

.article__asset img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
}
