li a {
  display: block;
  padding: 6px 0;
  text-transform: uppercase;
  font-family: Roboto Condensed, sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: #2a2a2a;
  outline: 0;
  list-style: none;
}
