.Logo {
  position: relative;
  float: left;
}

.Logo a {
  color: #b1b1b1;
  vertical-align: baseline;
  outline: 0;
  display: inline-block;
}

.Logo img {
  width: auto;
  height: 50px;
  max-width: 100%;
  vertical-align: top;
  border: 0;
}
