.ga--vik-gate {
  padding: 20px 0 0;
}

.col-offset-fluid {
  margin-right: -15px;
  margin-left: -15px;
}

.col-bs10-10 {
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
}

.title {
  position: relative;
  border-bottom: 1px solid #9b9b9b;
}

.title img {
  max-width: 100%;
  width: auto;
  height: auto;
  vertical-align: top;
  border: 0;
}

.mt2 {
  margin-top: 20px;
}
